{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}
    <h2>ToDo list</h2>
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.name }}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="checkbox" {% if todo.is_complete == True %} checked {% else %} '' {% endif %}>
                <label class="form-check-label" for="checkbox"></label>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
            <script type="text/javascript">
            $(document).ready(function() {
                $('#checkbox').change(function() {
                    $.post("/modify/", {
                        id: '{{todo.id}}',
                        iscomplete: this.checked,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    });
                });
            });
            </script>
            <form action="{% url 'todo_remove' pk=todo.pk%}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove">
            </form>
        </li>
        {% endfor %}
    </ul>
    <button type="button">
        <a href="{% url 'todo_create' %}"> New </a>
    </button>


{% endblock %}
